<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <span class="ml-3 text-xl">Demo App</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            @for (link of links; track $index) {
                @if (isAdmin == true && link == 'Admin') {
                    <a [ngClass]="{'mr-5 hover:text-red-500' : true, 'red': isAdmin}">{{ link }}</a>
                }
                @if(link != 'Admin') {
                    <a [ngClass]="{'mr-5 hover:text-gray-900 green': true}">{{ link }}</a>
                }
            }

        </nav>
    </div>
</header>